<header class="site-header">
    <div class="container">
        <a [routerLink]="['/home']" id="branding">
            <img src="/assets/images/logo.png" alt="" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">The Movie Database (TMDb)</h1>
                <small class="site-description">Is a community built movie and TV database.</small>
            </div>
        </a>
        <!-- #branding -->

        <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="menu-item"><a [routerLink]="['/discover']">Discover</a></li>
                <li class="menu-item"><a [routerLink]="['/movies']">Movies</a></li>
                <li class="menu-item"><a [routerLink]="['/favorites']">Favorites</a></li>
            </ul>
            <!-- .menu -->
            <form class="search-form" role="search" [formGroup]="search">
                <input type="text" name="query" id="query" placeholder="Search..." [class.active]="showInput" (keyup)="searchMedia($event.target.value)" />
                <button (click)="showSearch()"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
        <div class="col-xs-12" *ngIf="searchMedias$ | async; let searchMedias">
            <div *ngFor="let item of searchMedias.results" class="col-xs-6 col-md-3">
                <mps-card-backdrop-image [item]="item" mediaType="movie" className="latest-movie" [showOverview]="false" (clearSearch)="clearSearch()"></mps-card-backdrop-image>
            </div>
        </div>
    </div>
</header>