<div class="page">
    <div class="breadcrumbs">
        <a [routerLink]="['/home']">Home</a>
        <span>Favorites</span>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="team">
                <figure class="team-image"><img src="https://fakeimg.pl/230x230/282828/eae0d0/" alt=""></figure>
                <h2 class="team-name">Maleficient</h2>
                <small class="team-title">Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</small>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team">
                <figure class="team-image"><img src="https://fakeimg.pl/230x230/282828/eae0d0/" alt=""></figure>
                <h2 class="team-name">Maleficient</h2>
                <small class="team-title">Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</small>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team">
                <figure class="team-image"><img src="https://fakeimg.pl/230x230/282828/eae0d0/" alt=""></figure>
                <h2 class="team-name">Maleficient</h2>
                <small class="team-title">Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</small>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team">
                <figure class="team-image"><img src="https://fakeimg.pl/230x230/282828/eae0d0/" alt=""></figure>
                <h2 class="team-name">Maleficient</h2>
                <small class="team-title">Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</small>
            </div>
        </div>

    </div>
</div>