<div class="page">
    <div class="breadcrumbs">
        <a [routerLink]="['/home']">Home</a>
        <span>Favorites</span>
    </div>
    <div class="row" *ngIf="favoriteCollection$ | async; let favoriteCollection">

        <article class="col-md-3" *ngFor="let item of favoriteCollection">
            <div class="team">
                <figure class="team-image">
                    <a [routerLink]="['/details', mediaType, item.id]">
                        <img [src]="utilsProvider.posterImage(item.poster_path, 'w185')" alt="{{ utilsProvider.title(item) }}">
                    </a>
                </figure>
                <h2 class="team-name"><a [routerLink]="['/details', mediaType, item.id]">{{ utilsProvider.title(item) }}</a></h2>
                <small class="team-title">{{ item.overview | slice:0:160 }}</small>
            </div>
        </article>

    </div>
</div>