<div class="page" *ngIf="details">
    <div class="breadcrumbs">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/discover']">Discover</a>
        <span>{{ utilsProvider.title(details) }}</span>
    </div>
    <article class="content">
        <div class="row">
            <div class="col-md-6">
                <figure class="movie-poster">
                    <img [src]="utilsProvider.backdropImage(details.backdrop_path, 'w780')" alt="{{ utilsProvider.title(details) }}">
                </figure>
            </div>
            <div class="col-md-6">
                <h2 class="movie-title">{{ utilsProvider.title(details) }}</h2>
                <div class="movie-summary">
                    <p>{{ details.overview }}</p>
                </div>
                <ul class="movie-meta">
                    <li><strong>Rating:</strong>
                        <div class="star-rating" title="Rated {{ voteAverage }} out of 100"><span [ngStyle]="{ width: voteAverage + '%' }"><strong class="rating">{{ voteAverage }}</strong> out of 100</span></div>
                    </li>
                    <li><strong>Length:</strong> {{ runtime }}</li>
                    <li><strong>Premiere:</strong> {{ details.release_date }}</li>
                    <li *ngIf="details.genres"><strong>Category:</strong> {{ genres }}</li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="credits">
            <header class="col-sm-12">
                <h1 class="section-title">Cast</h1>
            </header>
            <div *ngFor="let item of credits.cast | slice: 0:8" class="col-sm-6 col-md-3">
                <mps-card-cast [item]="item"></mps-card-cast>
            </div>
        </div>
        <div class="row" *ngIf="recommendations">
            <header class="col-sm-12">
                <h1 class="section-title">Recommendations</h1>
            </header>
            <div class="col-sm-12">
                <ul class="list-unstyled">
                    <li *ngFor="let item of recommendations.results | slice: 0:9" class="col-sm-12 col-md-4">
                        <mps-card-poster-image [item]="item" mediaType="movie"></mps-card-poster-image>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>