suggestions {
    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 21px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ecf0f1;
        border-radius: 4px;
        transition: border .2s ease-in-out;
    }
}