<div class="page">
    <div class="breadcrumbs">
        <a [routerLink]="['/home']">Home</a>
        <span>Movie Review</span>
    </div>
    <mps-filters [genres]="genres$ | async" (filterMovies)="filterMovies($event)"></mps-filters>

    <article class="row" *ngIf="mediasPopular$ | async; let mediasPopular; else loading">
        <div *ngFor="let item of mediasPopular.results" class="col-sm-6 col-md-3">
            <mps-card-backdrop-image [item]="item" mediaType="movie" className="latest-movie" [showOverview]="true"></mps-card-backdrop-image>
        </div>
    </article>

    <!-- <div class="pagination">
        <a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">4</a>
        <a href="#" class="page-number">5</a>
        <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
    </div> -->
    <ng-template #loading>
        <mps-loading-animation></mps-loading-animation>
    </ng-template>
</div>