<div class="page">
    <div class="breadcrumbs">
        <a [routerLink]="['/home']">Home</a>
        <span>Movie Review</span>
    </div>
    <mps-filters></mps-filters>

    <div class="movie-list">
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Maleficient</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">The adventure of Tintin</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Hobbit</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Exists</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Drive hard</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Robocop</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">Life of Pi</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
        <div class="movie">
            <figure class="movie-poster">
                <a [routerLink]="['/details']"><img src="https://fakeimg.pl/252x230/282828/eae0d0/" alt="#"></a>
            </figure>
            <div class="movie-title"><a [routerLink]="['/details']">The Colony</a></div>
            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem doloremque.</p>
        </div>
    </div>
    <!-- .movie-list -->

    <div class="pagination">
        <a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">4</a>
        <a href="#" class="page-number">5</a>
        <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>